{% extends 'base.html' %}

{% block content %}
    <h1>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
     {% if user_obj.profile.avatar %}
    <div class="col-md-4">
      <img src="{{ user_obj.profile.avatar.url }}" class="img-fluid rounded-start" alt="...">
    </div>
      {% endif %}
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Username: {{ user_obj.username }}</h5>
            <p class="card-text">Name: {{ user_obj.last_name }}</p>
        <p class="card-text">Last name: {{ user_obj.last_name }}</p>
          <p class="card-text">Biography : {{ user_obj.profile.biography }}</p>
          <p class="card-text">Link : <a href="{{ user_obj.profile.link }} "></a> </p>


        <p class="card-text">email: {{ user_obj.email }}</p>
      </div>
    </div>
  </div>
</div>

     {% include 'partial/list_project.html' with projects=object_list %}
{% endblock %}