
{% extends 'base.html' %}


    {% block content %}



             {% for user in users %}

                    <div class="card my-3 text-bg-success ">
                      <div class="card-body">
                        <h5 class="card-title   p-1 text-warning bg-dark text-md fst-italic">{{ user.user}}</h5>
                        <a href="{{ user.get_absolute_url }}" class="btn btn-warning">Detailed </a>
                      </div>
                    </div>

            {% endfor %}



            </div>



                {% if is_paginated %}
                    {% include 'partial/pagination.html' %}
                {% endif %}

   {% endblock %}