  {% csrf_token %}
           <label>STATUS:</label>
            <select name="status">
                {% for value, status in statuses %}
                    <option value="{{ value }}">{{ status }}</option>
                {% endfor %}
            </select>
            <br>
            <label>Название: </label>
             <input type="text" name="title" value="{{ task.title }}"/>
            <br>
             <label>Описание: </label>
             <input type="text" name="description" value="{{ task.description }}"/>
            <br>
            <label>Дата выполнения: </label>
            <input type="text" name="deadline" value="{{ task.deadline }}"/>
            <br>

<input type="submit" value="{{ button_text }}">