{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Create Task</title>#}
{#</head>#}
{% extends 'base.html' %}

{% block content %}

    <a href="/">Home</a>
        <h2 class="text-danger">Добавь новую задачу</h2>

        <form action="" method="POST">
           {% csrf_token %}
           <label>STATUS:</label><br/>
            <select name="status" >
                {% for value, status in statuses %}
                    <option value="{{ value }}">{{ status }}</option>
                {% endfor %}
            </select>
            <br>
            <label>Название: </label>
             <input type="text" name="title"/>
            <br/>
            <label>Дата выполнения: </label>
            <input type="text" name="deadline"/>
            <br/>
            <input type="submit" value="Create">


        </form>



{% endblock %}

