
{% extends 'base.html' %}

{% block nav %}
    <li class="nav-item">
          <a class="nav-link" href="{% url 'create' %}">Add Task</a>
    </li>
{% endblock %}

{% block content %}

        <h1> Issue tracker</h1>
        <hr>

     <form action="" method="post">
         {% csrf_token %}
             <p><input type="submit" class="btn btn-danger" value="Delete"></p>

         {% for task in tasks %}

                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title ">  <input class="form-check-input m-2" name="tasks" type="checkbox" value="{{ task.pk }}" > {{ task.summary }}</h5>
                    <a href="{% url 'view' task.id %}" class="btn btn-primary">Подробнее</a>
                  </div>
                </div>

        {% endfor %}


            </form>


{% endblock %}