
{% extends 'base.html' %}
{% block content %}

        <h1>To Do list</h1>
        <hr>
        {% for task in tasks %}
            <h3>Название: {{ task.title }}</h3>
            <h4>статус:</h4><h2>"{{ task.status }}"</h2>
            <p> Выполнить до {{ task.deadline|date:"d F Y"|default:"-" }}</p>
            <form action="/?id={{ task.id }}" method="POST">
            {% csrf_token %}
                <input type="submit" value="delete">
            </form>
            <br>
            <a href="{% url 'view' task.id %}">Подробнее</a>
            <hr>

        {% endfor %}


{% endblock %}