
{% extends 'base.html' %}

    {% block nav %}

    {% if request.user.is_authenticated %}
        <li class="nav-item">
              <a class="nav-link" href="{% url 'webapp:create' %}">Add Task</a>
        </li>
     {% endif %}
        <li class="nav-item">
            {% include 'partial/simple_search.html' %}
        </li>

    {% endblock %}

    {% block content %}

            <h1 class="text-center text-capitalize fs-1 m-4"> Issue tracker</h1>
            <hr>

         <form action="" method="post">
             {% csrf_token %}
  

             {% for task in tasks %}

                    <div class="card my-3 text-bg-success ">
                      <div class="card-body">
                        <h5 class="card-title   p-1 text-warning bg-dark text-md fst-italic">{{ task.summary }}</h5>
                        <a href="{{ task.get_absolute_url }}" class="btn btn-warning">Detailed</a>
                      </div>
                    </div>

            {% endfor %}


                </form>


            </div>



                {% if is_paginated %}
                    {% include 'partial/pagination.html' %}
                {% endif %}



    {% endblock %}


