{% extends "base.html" %}
{% block title %}Delete Task{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'view' task.pk %}">View</a>
    </li>
{% endblock %}
{% block content %}
    <h1>Are you sure want to delete task "{{ task.summary }}"?</h1>
    <form method="POST" action="{% url "delete" task.pk %}" class="text-center">
        {% csrf_token %}
        <p><input type="submit" value="Confirm"></p>
        <p><a href="{% url "view" task.pk %}">Cancel</a></p>
    </form>
{% endblock %}
