
{% extends 'base.html' %}

{% block nav %}
    <li class="nav-item">
          <a class="nav-link" href="{% url 'create' %}">Add Task</a>
    </li>
    <li class="nav-item">
          <a class="nav-link" href="{% url 'update' task.pk %}">Update</a>
    </li>
    <li class="nav-item">
          <a class="nav-link" href="{% url 'delete' task.pk %}">Delete</a>
    </li>
{% endblock %}

{% block content %}



    <div class="card text-center">
      <div class="card-header">
        Type: {{ task.type.name }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ task.summary }}</h5>
        <p class="card-text">{{ task.description}}</p>
        <h4>Created date: {{ task.created_at }}</h4>
            <h4>Updated date: {{ task.updated_at }}</h4>
      </div>
      <div class="card-footer text-muted">
        Status: {{ task.status.title}}
      </div>
    </div>

{% endblock %}

