
{% extends 'base.html' %}

{% block nav %}
    {% if request.user.is_authenticated %}
    <li class="nav-item">
          <a class="nav-link" href="{% url 'webapp:project_add' %}">Add Project</a>
    </li>
     {% if perms.webapp.change_project or project.users == request.user %}
    <li class="nav-item">
          <a class="nav-link" href="{% url 'webapp:project_update' project.pk %}"> Update</a>
    </li>
    {% endif %}
    {% if perms.webapp.delete_project  or project.users == request.user %}
    <li class="nav-item">
          <a class="nav-link" href="{% url 'webapp:project_delete' project.pk %}">Delete</a>
    </li>
     {% endif %}
    {% endif %}
{% endblock %}

{% block content %}


    <div class="card text-center pt-3">
      <div class="card-header">
          {% for i in project.users.all %} {{ i }}{% if  not forloop.last %},{% endif %}
          {% endfor %}

      </div>

      <div class="card-body">
        <h5 class="card-title">{{ project.title }}</h5>
        <p class="card-text">{{ project.content}}</p>
        <h4>The date of the beginning: {{ project.date_start }}</h4>
            <h4>Expiration date: {{ project.date_end }}</h4>
      </div>

    </div>

        {% for task in project.project_task.all %}

            <div class="card my-3 text-bg-success ">
              <div class="card-body">
                <h5 class="card-title   p-1 text-warning bg-dark text-md fst-italic"> {{ task.summary }}</h5>
                <a href="{{ task.get_absolute_url }}" class="btn btn-warning">Detailed</a>
                     {% if request.user.is_authenticated %}
                       {% if perms.webapp.change_project or project.users == request.user %}
                        <a href="{% url 'webapp:update' task.pk %}" class="btn btn-primary">Update</a>
                       {% endif %}
                       {% if perms.webapp.delete_project  or project.users == request.user %}
                        <a href="{% url 'webapp:delete' task.pk %}" class="btn btn-danger">Delete</a>
                       {% endif %}

                     {% endif %}
              </div>
            </div>

        {% endfor %}

{% endblock %}

