
{% extends 'base.html' %}

    {% block nav %}
         <li class="nav-item">
              <a class="nav-link" href="{% url 'project_add'  %}">Add Project</a>
        </li>

        <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">All Tasks</a>
        </li>

    {% endblock %}


    {% block content %}

            <h1 class="text-center text-capitalize fs-1 m-4"> Projects</h1>
            <hr>

         <form action="" method="post">
             {% csrf_token %}
                 <p><input type="submit" class="btn btn-danger" value="Delete"></p>

             {% for project in projects %}

                    <div class="card my-3 text-bg-success ">
                      <div class="card-body">
                        <h5 class="card-title   p-1 text-warning bg-dark text-md fst-italic">  <input class="form-check-input m-2" name="projects" type="checkbox" value="{{ project.pk }}" > {{ project.title }}</h5>
                        <a href="{{ project.get_absolute_url }}" class="btn btn-warning">Detailed</a>
                      </div>
                    </div>

            {% endfor %}


                </form>


            </div>



            {% if is_paginated %}
                {% include 'partial/pagination.html' %}
            {% endif %}



    {% endblock %}


